.orderCounter .my-3 {
  flex: 1;
}
.orderCounter {
  gap: 10px;
}
.progress-barss {
  width: 100%;
  height: 10px;
  background: red;
  border-radius: 10px;
  display: none;
}

.time-display {
  font-size: 28px;
  text-transform: uppercase;
}
